body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header {
    background-image: url("/assets/images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg");
    background-size: 1200px;
    image-resolution: 90px;
    height: 500px;
    color: white;
    padding: 14px;
    justify-content: space-between;
    opacity: 0.9;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-top: -40px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 18px;
}

.container0 {
    margin: 100px;
    text-align: center;
}

.container0 h2 {
    font-size: 70px;
    font-weight: bold;
}

#line {
    width: 600px;
}

.container0 p {
    font-size: 30px;
}

.mainContainer {
    color: white;
}

.container1 {
    display: flex;
}

#bread-image {
    width: 450px;
}

.container1 h3 {
    padding: 10px;
    width: 400px;
}

.container1 p {
    margin-top: 120px;
}

.container2 {
    display: flex;
}

#pineapple-image {
    width: 450px;
}

.container2 h3 {
    padding: 10px;
    width: 400px;
}

.container2 p {
    margin-top: 120px;
}

.container3 {
    display: flex;
}

.container3 h3 {
    padding: 10px;
    padding: 10px;
    width: 400px;
}

.container3 p {
    margin-top: 120px;
}


#pasta-image {
    width: 450px;
}